<mat-accordion>
  <mat-expansion-panel
    class="bg-white shadow-lg border-2 border-blue-400 text-slate-900 w-full"
    [expanded]="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="text-slate-900 font-serif font-semibold text-xl">
        Instrucciones del juego
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="w-80">
      El juego propone una palabra oculta con cinco letras; la misma para todos
      los usuarios. Sin dar ninguna pista, el jugador tiene que ir eligiendo
      letras intentando acertar.
    </p>
    <p class="w-80">
      El objetivo es descubrir la palabra oculta, trabajando la lógica y la
      rapidez mental. La dificultad reside en que, antes del primer intento, no
      se ofrece ninguna pista. Y solo tiene 6 intentos. Si la letra está ubicada
      en el sitio adecuado, el cuadrado cambia al color verde; si está dentro de
      la palabra pero no bien ubicada, el color será amarillo; si no es ninguna
      de las dos opciones anteriores, la celda se colorea de gris.
    </p>
  </mat-expansion-panel>
</mat-accordion>
